<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--database connection-->
        <!--<property name="connection.url">jdbc:mysql://192.168.0.101:3306/hibernate</property>-->
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/hibernate</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!--数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--c3p0-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>

        <!--
            hibernate 当前session上下文
        thread 多实例的每个线程具有自己的session，其实现其线程隔离，ThreadLocal
        jta 分布式事务
        spring
        -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!--自动建表-->
        <property name="hbm2ddl.auto">update</property>

        <!--sql显示与格式化-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!--Hibernate中解决读并发
        其中mysql 是4 可重复读
           oracle 是2 读取已提交
        -->
        <property name="hibernate.connection.isolation"> 4 </property>

        <!--开启二级缓存-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!--注册二级缓存区域工厂-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!--
            在默认情况下 使用Query查询，也就是session.createQuery(sql)方法来进行查询
            它是不会从缓存中查询的，我们必须配置开启Query查询缓存，这样就可以从缓存中查询
        -->
        <property name="cache.use_query_cache">true</property>
        <!--<property name="hibernate.cache.provider_configuration_file_resource_path"></property>-->

        <!--加入实体映射文件hbm.xml-->
        <mapping resource="hibernate/config/hbm/Student.hbm.xml"/>
        <mapping resource="hibernate/config/hbm/Minister.hbm.xml"/>
        <mapping resource="hibernate/config/hbm/Country.hbm.xml"/>
        <!--自关联文件映射-->
        <mapping resource="hibernate/config/hbm/NewsAct.hbm.xml"/>
        <!--many-to-many-->
        <mapping resource="hibernate/config/hbm/Teacher.hbm.xml"/>
        <mapping resource="hibernate/config/hbm/Course.hbm.xml"/>


        <!--指定缓存内容 这里以Country与Minister 为例子  class缓存 缓存的是class的详情信息-->
        <class-cache class="com.ksea.hibernate.relevance.Country" usage="read-only"/>
        <class-cache class="com.ksea.hibernate.relevance.Minister" usage="read-only"/>

        <!--指定集合缓存 collection集合缓存缓存的是所有集合的id-->
        <collection-cache collection="com.ksea.hibernate.relevance.Country.ministers" usage="read-only"/>
    </session-factory>
</hibernate-configuration>